@mixin small {
	@media only screen and (max-width: 500px) {
		@content;
	}
}

@mixin landscape {
	@media only screen and (max-height: 500px) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	--bodyColor: #cc3333;
	padding: env(safe-area-inset);
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

@keyframes witfGrow {
	0% {
		-webkit-transform: scale( 0.9 );
		-moz-transform: scale( 0.9 );
		-o-transform: scale( 0.9 );
		-ms-transform: scale( 0.9 );
		transform: scale( 0.9 );
	}
	 
	50% {
		-webkit-transform: scale( 1 );
		-moz-transform: scale( 1 );
		-o-transform: scale( 1 );
		-ms-transform: scale( 1 );
		transform: scale( 1 );
	}
	 
	100% {
		-webkit-transform: scale( 0.9 );
		-moz-transform: scale( 0.9 );
		-o-transform: scale( 0.9 );
		-ms-transform: scale( 0.9 );
		transform: scale( 0.9 );
	}
}

@keyframes findBtnIntro {
	0% {
		opacity: 0;
		margin-top: 50px;
	}
	100% {
		opacity: 1;
		margin-top: 15px;
	}
}

@keyframes rangeContainerIntro {
	0% {
		opacity: 0;
		margin-right: 50px;
	}
	100% {
		opacity: 1;
		margin-right: 0px;
	}
}

@keyframes priceContainerIntro {
	0% {
		opacity: 0;
		margin-left: 50px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes showIcon {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 20px;
		height: 32.8px;
	}
}

@keyframes moveRightArrow {
	0% {
		left: 0px;
	}
	50% {
		left: 4px;
	}
	100% {
		left: 0px;
	}
}

@keyframes moveLeftArrow {
	0% {
		right: 0px;
	}
	50% {
		right: 4px;
	}
	100% {
		right: 0px;
	}
}

@keyframes searchIntro {
	0% {
		opacity: 0;
		width: 0px;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

.searchContainer {
	display: flex;
	flex-direction: column;
	place-items: center;
    justify-content: center;
	position: absolute;
	height: 400px;
	width: 400px;
	opacity: 1;
	top: calc(50% - 190px);
	left: calc(50% - 200px);
	transition: 0.5s ease-in-out;

	@include small {
		width: 300px;
		left: calc(50% - 150px);
	}

	@include landscape {
		height: 300px;
		margin-top: 15px;
	}

	&.hideContainer {
		pointer-events: none;
		opacity: 0;
	}
}

.witfBtn {
	top: calc(50% - 80px);
	left: calc(50% - 37px);
	height: 320px;
	width: 150px;
	pointer-events: none;
	background-color: transparent;
	background-image: url('./logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170px 320px;
	outline: none;
	color: white;
	font-size: 24px;
	transition: opacity 1s ease-in-out;
	animation: witfGrow 2s infinite;

	@include landscape {
		height: 170px;
		background-size: 170px 170px;
	}
}

.searchBar {
	grid-area: 1 / 1 / 2 / 4;
	position: relative;
	bottom: -25px;
	outline: none;
	width: 0px;
	font-size: 28px;
	opacity: 0;
	border-bottom: 2px solid var(--bodyColor);
	border-radius: 0;
	background: transparent;
	text-align: center;
	align-self: end;
	animation: searchIntro 1.5s ease-in-out 0.75s forwards;

	&::placeholder {
		color: black;
		opacity: 0.5;
		transition: all 0.2s linear;
	}

	&:hover::placeholder, &:focus::placeholder {
		opacity: 0.3;
	}
}

.options {
	display: grid;
	grid-template-columns: repeat(3, calc(400px /3));
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center;
	width: 400px;
	height: 80px;
	margin-top: -20px;

	@include small {
		width: 300px;
		grid-template-columns: repeat(3, 100px);
	}
}

.rangeContainer {
	grid-area: 1 / 1 / 2 / 2;
	cursor: default;
	color: var(--bodyColor);
	border-bottom: 2px solid var(--bodyColor);
	margin-bottom: 32px;
	font-size: 20px;
	opacity: 0;
	text-align: center;
	animation: rangeContainerIntro 1s ease-in-out 0.75s forwards;

	span {
		display: block;
		font-size: 30px;
		margin-bottom: 8px;
	}
	
}

.range {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	display: inline-block;
	outline: none;
	width: 25px;
	background: transparent;
	color: var(--bodyColor);
	margin: 0 2px;
}

input[type=number] {
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button, 
	&::-webkit-outer-spin-button {
		display: none;
		margin: 0;
		-webkit-appearance: none;
	}
}

.findBtn {
	grid-area: 1 / 2 / 2 / 3;
	cursor: pointer;
	outline: none;
	color: var(--bodyColor);
	opacity: 0;
	background: transparent;
	border: 2px solid var(--bodyColor);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
	padding: 0 5px 0 3px;
	font-size: 24px;
	transition: all 0.2s linear;
	animation: findBtnIntro 1s ease-in-out 0.75s forwards;

	&:hover {
		background: var(--bodyColor);
		color: white;
	}

	&.disableBtn {
		pointer-events: none;
		border: 2px solid #cc333355;
		color: #cc333355;
	}
}

.priceContainer {
	grid-area: 1 / 3 / 2 / 4;
	margin-bottom: 22px;
	font-size: 20px;
	opacity: 0;
	text-align: center;
	animation: priceContainerIntro 1s ease-in-out 0.75s forwards;

	span {
		display: block;
		cursor: default;
		font-size: 30px;
		color: var(--bodyColor);
	}

	form {
		font-size: 35px;
		letter-spacing: 5px;
	}

	label {
		cursor: pointer;

		&:hover {
			@media only screen and (min-device-width: 769px) {
				opacity: 0.6;
			}
		}
	}
}

.venueContainer {
	position: fixed;
	left: calc(50% - 200px);
	bottom: -400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 200px;
	transition: bottom 1s ease-in-out 0.75s;

	@include small {
		width: 200px;
		left: calc(50% - 100px);
	}

	@include landscape {
		height: 160px;
	}

	&.showContainer {
		bottom: 20px;
	}
}

.leaflet-control-container {
	display: none;
}

.venue {
	cursor: default;
	width: 100vw;
	max-width: 380px;
	height: 125px;
	background: white;
	padding: 10px;
	border: 2px solid var(--bodyColor);
	border-bottom: none;
	border-radius: 10px 10px 0 0;

	@include small {
		max-width: 200px;
	}

	.name {
		display: inline-block;
		color: var(--bodyColor);
		font-size: 32px;
		line-height: 32px;

		@include small {
			font-size: 24px;
			line-height: 24px;
		}
	}

	.category {
		font-size: 18px;
		display: inline-block;
		padding-left: 5px;

		@include small {
			display: block;
			padding-left: 0px;
		}

		@media only screen and (max-device-height: 500px) and (max-device-width: 500) {
			display: none;
		}
	}

	.infoContainer {
		font-size: 14px;
		line-height: 14px;
		opacity: 0.7;
	}
}

.noOptions {
	flex-direction: column;
    position: absolute;
    height: 100%;
    width: calc(100% - 4px);
    justify-content: center;
    align-items: center;
    background: white;
	border: 2px solid var(--bodyColor);
	border-radius: 10px;
	user-select: none;

	@include small {
		width: 220px;
	}

	h2 {
		color: var(--bodyColor);
		font-size: 35px;
	}

	p {
		font-size: 20px;
	}
}

.pickedOption {
	flex-direction: column;
	position: absolute;
	bottom: -2px;
    height: 65%;
    width: calc(100% - 4px);
    justify-content: center;
    align-items: center;
    background: white;
	user-select: none;
	border-left: 2px solid var(--bodyColor);
	border-right: 2px solid var(--bodyColor);
	border-bottom: 2px solid var(--bodyColor);
	border-radius: 0 0 10px 10px;

	@include small {
		width: 220px;
	}

	h2 {
		color: var(--bodyColor);
		font-size: 35px;
	}

	p {
		font-size: 20px;
	}
}

.choices {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	cursor: pointer;
	background: white;
	border-right: 2px solid var(--bodyColor);
	border-left: 2px solid var(--bodyColor);
	border-bottom: 2px solid var(--bodyColor);
	border-radius: 0 0 10px 10px;
	text-align: center;
	width: 400px;
	height: 75px;
	user-select: none;

	@include small {
		width: 220px;
		height: 60px;

		p {
			font-size: 11px;
		}
	}

	@include landscape {
		height: 65px;
	}

	h2 {
		font-size: 30px;
		color: var(--bodyColor);

		@include small {
			font-size: 25px;
		}
	}
}

.decline {
	grid-area: 1 / 1 / 2 / 2;
	background: linear-gradient(180deg, rgba(255,42,0,0) 50%, rgba(255,42,0,1) 100%);

	&:hover {
		@media only screen and (min-width: 500px) {
			background: linear-gradient(180deg, rgba(255,42,0,0) 25%, rgba(255,42,0,1) 100%);
		}
	}
}

.maybe {
	grid-area: 1 / 2 / 2 / 3;
	background: linear-gradient(180deg, rgba(0,185,255,0) 50%, rgba(0,185,255,1) 100%);

	&:hover {
		@media only screen and (min-width: 500px) {
			background: linear-gradient(180deg, rgba(0,185,255,0) 25%, rgba(0,185,255,1) 100%);
		}
	}
}

.okay {
	grid-area: 1 / 3 / 2 / 4;
	background: linear-gradient(180deg, rgba(22,255,0,0) 50%, rgba(22,255,0,1) 100%);

	&:hover {
		@media only screen and (min-width: 500px) {
			background: linear-gradient(180deg, rgba(22,255,0,0) 25%, rgba(22,255,0,1) 100%);
		}
	}
}

.previous, .next {
	cursor: pointer;
	position: absolute;
	top: 70px;
	height: 60px;
	width: 60px;
	outline: none;
	background: white;
	color: var(--bodyColor);
	font-size: 25px;
	line-height: 35px;
	border: 2px solid var(--bodyColor);
	border-radius: 100px;
	user-select: none;

	@include landscape {
		top: 45px;
	}

	span {
		width: 100%;
		position: relative;
	}

	p {
		font-size: 18px;
		margin-top: -10px;
	}
}

.previous {
	border-right: 3px solid white;
	left: -47px;

	@include small {
		left: -59px;	
	}

	&.hideArrow {
		cursor: default;
		border: 2px solid var(--bodyColor);
		border-right: 3px solid white;

		span, p {
			opacity: 0.4;
		}
	}

	&:hover:not(:focus) {
		span {
			animation: moveLeftArrow 1s ease-in-out infinite;
		}
	}

	span {
		display: inline-flex;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 16px 8px 0;
		border-color: transparent var(--bodyColor) transparent transparent;
	}
} 

.next { 
	border-left: 3px solid white;
	right: -47px;

	@include small {
		right: -59px;	
	}

	&.hideArrow {
		cursor: default;
		border: 2px solid var(--bodyColor);
		border-left: 3px solid white;
		
		span, p {
			opacity: 0.4;
		}
	}

	&:hover:not(:focus) {
		span {
			animation: moveRightArrow 1s ease-in-out infinite;
		}
	}

	span {
		display: inline-flex;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 0 8px 16px;
		border-color: transparent transparent transparent var(--bodyColor);
	}
} 

.map {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
	visibility: hidden;

	&.show {
		visibility: visible;
	}
}

.overlay {
	transition: opacity 1s ease-in-out;
	pointer-events: none;
	opacity: 0;

	&.show {
		pointer-events: auto;
		opacity: 1;
	}
}

.leaflet-marker-icon {
	filter: drop-shadow(1px 1px 2px black);

	&:not(:nth-child(1)) {
		animation: showIcon 0.25s ease-in-out forwards;
	}
}